html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  background-color: rgb(225, 241, 254);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  width: 100vw;
  height: 400px;
  background-color: rgb(192, 224, 252);
}

#header h1 {
  margin: 0;
}
