* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  min-width: 500px;
  background-color: #000000d5;
  color: #e9e9e9;
}

/* HEADER */
header div {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  height: 200px;
  background-color: #e9e9e9;
  line-height: 200px;
  color: #000000d5;
}
/* e9e9e9 */
/* MAIN */
main {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

/* CONTROLLER */
.controller {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.controller * {
  font-size: 15px;
}
.controller select {
  color: #e9e9e9;
  background-color: #000000d5;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}
.controller .links_container {
  flex: 1;
  display: flex;
  justify-content: end;
  width: 100%;
}
.controller .links_container button {
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  font-size: inherit;
  background-color: #000000d5;
}
.controller .links_container button:last-child {
  margin-right: 0;
}
.controller .links_container button a {
  color: #e9e9e9;
  text-decoration: none;
}

/* PET CONTAINER */
.pet_container {
  border-radius: 15px;
  height: 610px;
  background-color: #e9e9e9;
  width: 90%;
  margin: auto;
  color: #000000d5;
  margin-top: 20px;
}
.pet_container .pet_header {
  height: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* IMAGE CONTAINER */
.pet_container .img_container {
  width: 200px;
  height: 100%;
}
.pet_container .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* INFO CONTAINER */
.pet_container .info_container {
  margin-left: 10px;
  height: 200px;
  display: grid;
  column-gap: 10px;
  place-items: center start;
  grid-template-columns: auto auto;
}
.pet_container .info_container .info .title{
  font-weight: bold;
}

/* DESCRIPTION */
.pet_container .description {
  border: 3px white solid;
  border-radius: 10px;
  width: calc(100% - 20px);
  margin: auto;
  height: 300px;
  padding: 10px;
}
.pet_container .description p {
  text-decoration: underline;
}
.pet_container .description .detail .breed {
  font-style: italic;
  font-weight: bold;

}